/*
* @Author: ren522686239
* @Date:   2017-11-26 17:56:37
* @Last Modified by:   ren522686239
* @Last Modified time: 2017-11-28 21:35:44
*/
.header .logo{
	font-size: 40px;
	color :#FFD856;
	position: absolute;
	top: 32px;
	left: 70px;
}

.header .search-con{
	padding: 40px 0 30px 250px;
}
.header .search-con .search-input{
	width: 500px;
	font-size: 15px;
	padding: 10px;
	border: 2px solid #FFD856;
	outline: none;
}
.header .search-con .search-btn{
	position: absolute;
	height: 42px;
}

/*面包屑*/
.crumb{
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
	background: #eee;
	color: #888;
	border-top: 2px solid #FFD856;
}