<div class="nav">
	<div class="w">
		<span class="user-info no-login">
			<a class="link js-login">登录</a>
			<a class="link js-register">注册</a>
		</span>
		<span class="user-info login-info">
			<a class="link-text">欢迎,<span class="user-name"></span></a>
			<a class="link js-logout">退出</a>
		</span>
		<ul class="nav-list">
			<li class="nav-item">
				<a href="./cart.html" class="link">
					<i class="fa fa-shopping-cart"></i>
					购物车(<span class="cart-count">0</span>)
				</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./order-list.html">我的订单</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./user-center.html">我的PPMALL</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./about.html">关于MMALL</a>
			</li>
		</ul>
	</div>
</div>