/*
* @Author: ren522686239
* @Date:   2017-11-28 17:24:48
* @Last Modified by:   ren522686239
* @Last Modified time: 2017-11-28 17:46:20
*/
.page-wrap {
	padding: 50px 0;
}
.page-wrap .user-content{
	position: relative;
	width: 400px;
	margin: 0 auto;
	background: #fff;
	padding: 0 10px;
	overflow: hidden;
}
.page-wrap .user-content .user-box{
	padding: 20px;
}
.page-wrap .user-content .user-title{
	padding: 10px 0;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid #eee;
}
.user-content .user-box .error-item{
	position: relative;
	background: #fde9e9;
	padding: 4px 0 4px 40px;
	border: 1px solid red;
	color: red;
	margin-bottom: 10px;
	display: none;
}
.user-content .user-box .error-item .err-icon{
	position: absolute;
	top: 50%;
	font-size: 14px;
	left: 14px;
	margin-top: -7px;
}
.user-content .step-con .user-item-text
{
	margin-bottom: 10px;
	font-size: 13px;
}
.user-content .step-con{
	display: none;
}
.user-content .user-box .user-item{
	position: relative;
	border: 1px solid #bdbdbd;
	margin-bottom: 20px;
}
.user-content .user-box .user-item .user-label{
	position: absolute;
	width: 48px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background: #f3f3f3;
	color: #d3d3d3;
	border-right: 1px solid #bdbdbd;
	font-size: 18px;

}
.user-content .user-box .user-item .user-input{
	margin-left: 50px;
	width: 303px;
	height: 18px;
	line-height: 18px;
	border: none;
	font-size: 15px;
	padding: 10px 0 10px 5px;
	outline: none;
}
.user-content .user-box .btn-submit{
	width: 360px;
	padding: 4px 0;
	text-align: center;
	margin-bottom: 10px;
}
.user-content .user-box .link-item{
	float: right;
	margin-bottom: 20px;
}
.user-content .user-box .link-item .link{
	margin-right: 5px;
}